<html>
      <html>
        <head>
            <title><Блог Вики</title>
        </head>
        <body>
            <h1>Привет, друг!</h1>
            <h2>Добро пожаловать в мой блог, созданный в рамках Django Girls!</h2>
            <h3>Здесь ты научишься:</h3>
            <ul><li>Базовым знаниям Python</li>
            <li>Создашь свой собственный блог на платформе Django</li>
            <li>Развернешь свой собственный сервер</li>
            </ul>

            Если ты заинтересовался, можешь узнать у меня более подробную информацию и контакты команды Django 

            <a href="https://vk.com/carmacode">ВКонтакте</a>
                        <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
        </body>
    </html>
</html>